# Copy this file to '.env' or '.env.local' and fill in your details
# Do NOT commit '.env' or '.env.local' to Git (they are ignored automatically)

# Your Last.fm Username
VITE_LASTFM_USERNAME=YOUR_LASTFM_USERNAME

# Your Last.fm API Key (Register at https://www.last.fm/api/account/create)
VITE_LASTFM_API_KEY=YOUR_LASTFM_API_KEY
